    <mat-nav-list color="accent">
        <a mat-list-item routerLink="/signup" (click)="onClose()">
          <mat-icon>face</mat-icon>
          <span class="nav-caption">Signup</span>
        </a>

      <a mat-list-item routerLink="/login" (click)="onClose()">
        <mat-icon>input</mat-icon>
        <span class="nav-caption">Login</span>
      </a>
      <a mat-list-item routerLink="/products" (click)="onClose()">
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Shop</span>
      </a>
      <a mat-list-item href="#"(click)="onClose()">
          <mat-icon>face</mat-icon>
          <span class="nav-caption">About</span>
        </a>
      <mat-list-item>
          <button mat-icon-button (click)="onClose()">
            <mat-icon>eject</mat-icon>
            <span class="nav-caption">Logout</span>
          </button>
        </mat-list-item>
    </mat-nav-list>
