<div class="mat-typography">
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
     #sidenav role="navigation">
    <app-side-nav (closeSidenav)="sidenav.close()"></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
<app-footer></app-footer>

